body{ 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 150%;
  background-color: #3d3d3d;
} 

header{ 
  background-color: #f2f2f2;} 

nav{ 
  background-color: #f5cef2;
  display: inline-block;
  width: 80%;} 

main{
  background-color: #e8ceff; 
  font-size: 100%} 

footer{ 
  background-color: #f2f2f2;} 

li{
  display: inline;
  width: 100%;
  background-color: yellow; 
  } 

ul { 
  list-style-type: none;
  display: flex;
flex-direction: row; 
justify-content: space-between;} 

h1{ 
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: #125e5d; } 

p{
    line-height: 100%; } 

nav a{ 
  text-decoration: none; }

.current{ 
  text-transform: uppercase;
  background-color: #f6f5f7;
}

nav img { 
  width: 10%;
  position: relative;  
  top: 20px;} 

.grid { 
  display: grid; 
  grid-template-columns: 40% 40%;
  justify-content: space-between;
  align-items: start;
  row-gap: 20px;
} 

.grid img {
  width: 40% 40%;
}

.flex { 
  display: flex; 
  justify-content: space-evenly; 
  flex-wrap: wrap; } 
